<div class='box'>
  <h1 class='box-title'>Arecibo</h1>
  <div class='specie'>
    <%= image_tag 'species.png' %>
  </div>
  <a href='#' class='next'>-></a>
  <a href='#' class='previous'><-</a>
</div>