<div class='grid grid-pad'>
  <div class='col-1-1 box'>
    <h1 class='box-title'>Choose species</h1>
    <%= link_to(planets_path) do %>
      <h1 class='box-title'><%= image_tag 'species.png' %></h1>
    <% end %>
  </div>
</div>