@font-face {
  font-family: 'nulshock';
  src:font-url('nulshock.ttf');
  font-weight: normal;
  font-style: normal;
}

html{
  background-image:asset_url('background.jpg');
  background-size:cover;
}

body{
  color:white;
  font-family: sans-serif;
}

table{
  border-collapse:collapse;
}

thead{
  color: black;
  background: white;
  font-weight: bold;
}

td{
  border:1px solid white;
  padding:10px;
}

h1, h2{
  font-family: 'nulshock';
}

a{
  color:white;
  text-decoration:none;
}

.box{
  border:5px solid rgba(3,100,132,0.8);
  border-radius:15px;
  background-color: rgba(3,100,132,0.2);
  position:relative;
  padding: 10px;
}

.box-title{
  text-align:center;
  font-size:40px;
}