@font-face {
  font-family: 'nulshock';
  src:font-url('nulshock.ttf');
  font-weight: normal;
  font-style: normal;
}

html{
  background-image:asset_url('background.jpg');
  background-size:cover;
}

.box{
  border:5px solid rgba(3,100,132,0.8);
  border-radius:15px;
  background-color: rgba(3,100,132,0.2);
  position:relative;
}

.box-title{
  text-align:center;
  color:white;
  font-family: 'nulshock';
  font-size:40px;
}