@font-face {
  font-family: 'nulshock';
  src:font-url('nulshock.ttf');
  font-weight: normal;
  font-style: normal;
}

html{
  background-image:asset_url('background.jpg');
  background-size:cover;
}

.box{
  margin-left:auto;
  margin-right:auto;
  width:500px;
  height:460px;
  border:5px solid rgba(3,100,132,0.8);
  border-radius:15px;
  background-color: rgba(3,100,132,0.2);
  margin-top:300px;
  position:relative;
}

.box-title{
  text-align:center;
  color:white;
  font-family: 'nulshock';
  font-size:40px;
}

.specie{
  width:200px;
  height:350px;
  overflow:hidden;
  position:relative;
  margin-left:auto;
  margin-right:auto;
  img{
    height:300px;
    position:absolute;
    transition:1s;
  }
}

.next{
  position:absolute;
  top:250px;
  right:10px;
  color:white;
  text-decoration: none;
  font-size:50px;
  font-family: 'nulshock';
}

.previous{
  position:absolute;
  top:250px;
  left:10px;
  color:white;
  text-decoration: none;
  font-size:50px;
  font-family: 'nulshock';
}

.specie_name{
  color:white;
  position:absolute;
  bottom:0;
  font-family: 'nulshock';
  overflow:hidden;
  text-align:center;
  width:100%;
  margin-bottom:0;
}

.specie_name.cynode{
  display:none;
}